<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086559255383-l1a6b51gqn0ngggr4gidggersfnrg9ak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086559255383-l1a6b51gqn0ngggr4gidggersfnrg9ak</string>
	<key>API_KEY</key>
	<string>AIzaSyBaXkEzBkLPFiA0FfyX0hKz6jDXMKyStP8</string>
	<key>GCM_SENDER_ID</key>
	<string>1086559255383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.UiChallenge</string>
	<key>PROJECT_ID</key>
	<string>uichallengetesting</string>
	<key>STORAGE_BUCKET</key>
	<string>uichallengetesting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086559255383:ios:2f930c25965b2a78481c12</string>
</dict>
</plist>